<<<<<<< HEAD
footer {
	position: fixed;
	bottom: 0;
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 30px;
=======
           footer{
                background-color:#00FF00;
                bottom:0;
                position:absolute;
                height:60px;
                width:100%;
                text-align:center;
}
            h3{
                padding-top:5px;
                font-weight:normal;
		
>>>>>>> f0e5ce2fd89a65a23bd6ee3051be2c7fdd01b818
}
