<<<<<<< HEAD
header {
	background-color:#FF0000;
	height:70px;
	width:100%;
=======
    header{
                background-color:#FF0000;
                height:70px;
                width:100%;
>>>>>>> f0e5ce2fd89a65a23bd6ee3051be2c7fdd01b818
}
