<<<<<<< HEAD
body {
	margin:0px;
	padding:0px;

	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
=======
            body{
                margin:0px;
                padding:0px;
		color: #484848;
		font-size:14px;
		font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;	
		
>>>>>>> f0e5ce2fd89a65a23bd6ee3051be2c7fdd01b818
}
